# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt

# Installers
*.egg
*.egg-info/
dist/
build/

# PyInstaller
# Usually these files are written by a python script from a .spec file
*.manifest
*.spec

# Pytest
.cache
pytest*.log

# Jupyter Notebook
.ipynb_checkpoints

# IDE-specific files
.idea/
*.iml

# Python virtual environments
.env
.venv
venv/
.ruff_cache
.Ds_Store